.available {
    background-color: white;
    border: 2px solid #3b82f6;
  }
  .available:hover {
    background-color: #dbeafe;
  }
  .occupied {
    background-color: #ef4444;
  }
  .selected {
    background-color: #3b82f6;
  }
  .wheelchair {
    background-color: #a855f7;
}