<app-slider [slides]="slides"></app-slider>

<section class="container mx-auto my-10 px-4 sm:px-6 lg:px-8">
    <p class="text-gray-500 text-4xl">En Cartelera </p>
    <app-movie-list></app-movie-list>
</section>


  <div class="w-full h-1 bg-gray-800"></div>

  <section class="bg-gray-100 py-10">
    <div class="max-w-screen-xl  mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">Te Brindamos</h1>
      <div class="flex flex-col lg:flex-row items-center justify-center">
        <div class="lg:w-1/2 mb-6 lg:mb-0 flex px-4 justify-center">
          <img src="https://cinemarkla.modyocdn.com/uploads/63f1c8f1-2b5c-462b-b961-9645f6f93c11/original/banner-promo-DBOX.png" alt="Venom" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
        </div>
        <div class="lg:w-1/2 mb-6 lg:mb-0 flex px-4 justify-center">
          
          <img src="https://cinemarkla.modyocdn.com/uploads/d7f31c4a-611e-417d-bb4e-56ec13f7bb1f/original/promo-xd-web.png" alt="Venom" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
        </div>
      </div>
    </div>
  </section>

  <div class="w-full h-1 bg-gray-800"></div>
