<div class="container mx-auto px-4 py-6">
  <h1 class="text-4xl text-gray-400 font-bold text-primary mb-8">Cines</h1>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let cine of cines"> <!-- Corregido: 'cines' en lugar de 'cine' -->
        <app-cinema-card
          [image]="cine.urlImage" 
          [title]="cine.name"
          [address]="cine.address"
          [formats]="cine.disponible" 
          (click)="viewDetails(cine.id)"
        ></app-cinema-card>
      </div>
    </div>
  </div>
</div>