<!-- src/app/movie-detail/movie-detail.component.html -->
<div *ngIf="movie" class="movie-detail">
  <img
    [src]="movie.url"
    alt="{{ movie.title }}"
    class="w-full h-64 object-cover"
  />
  <h1 class="text-2xl font-bold">{{ movie.title }}</h1>
  <p class="text-lg"><strong>Genre:</strong> {{ movie.genre }}</p>
  <p class="text-lg"><strong>Duration:</strong> {{ movie.durationMovie }}</p>
  <p class="text-lg"><strong>Director:</strong> {{ movie.director }}</p>
  <p class="text-lg"><strong>Age:</strong> {{ movie.age }}</p>
  <p class="text-lg"><strong>Synopsis:</strong> {{ movie.sinopsis }}</p>
  <h1>Formatos disponibles</h1>
  <p class="text-lg" *ngFor="let e of movie.disponible"> 
    {{e }}</p>



</div>
<button (click)="goToReservation()" class="bg-blue-500 text-white p-2 rounded">
    Reserve Seats
</button>
  
