/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    color-scheme: light dark;
}


body{
    @apply bg-gray-700 text-black px-8 shadow-[inset_-10px_0_10px_-5px_rgba(0,0,0,0.1),inset_10px_0_10px_-5px_rgba(0,0,0,0.1)];

}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

